body{
    background-image:url(/TropicalforestWallpaper_4_800x.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.emoji{
    font-family: 'Courgette', cursive;
    width: 173px;
    color: orange;
    text-shadow: 3px 1px 0px black;
    margin: auto;
    padding-top: 24px;
    font-size: 60px;
}
.pick{
    font-size: 20px;
    font-family: cursive;
    color: white;
    background-color: orange;
    border: 0px;
    border-radius: 24px;
    padding: 14px;
    margin-left: 595px;
}
.sticker{
    text-align: center;
    font-size: 100px;
    color: #bdc000;
    
}